<div class="gridRow">
    <div class="gridColumn twelve footer">
        <div>Copyright &copy; <span id="currentYear"></span> Kalmbach Publishing Co.
            <span id="kAddress"><br />21027 Crossroads Circle&nbsp;&#183;&nbsp;P.O. Box 1612&nbsp;&#183;&nbsp;Waukesha, WI 53187-1612</span>
        </div>
    </div>
</div>