@{
    ViewBag.Title = "ProjectNewsStandCSV";
    bool ValidCreation = (bool)ViewBag.FileCreated;
}


@{
    
    if(ValidCreation)
    {
        
        <p>File Created Successfully</p>
        
    }
    
    
}