<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --> 
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
	  <add name="ProdScheduleDB" connectionString="XXX"/>
    </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--start-->
	<add key="TestMode" value="TRUE"/>
    <add key="NewsstandOnSaleDateMilestoneValue" value="51"/>
    <add key="EmailActionValue" value="1"/>
    <add key="MagazineProjectType" value="1"/>
    <!--Replicated from status Value table This is being used in favor of enums currently-->
    <add key="CreatedStatusValue" value="1"/>
    <add key="RequestPendingStatusValue" value="9"/>
    <add key="ProjectStatusRejectedOnSaleID" value="3"/>
    <add key="ProjectStatusApprovedOnSaleID" value="4"/>
    <add key="ProjectStatusScheduleCreatedID" value="5"/>
    <add key="AppVersionNumber" value="7"/>
    <!--ActivityLogLength in Days-->
    <add key="ActivityLogDuration" value="90"/>
    <!--ApplicationLogLength in Days -->
    <add key="ApplicationLogDuration" value="1"/>
    <add key="ApplicationErrorLogDuration" value="1"/>
    <!--DefaultNumOfMilestonesForSetting-->
    <add key="NumOfDefaultMilestones" value="20"/>
    <!--ShowMagazineOptionsOnly-->
    <add key="ShowMagazineOptionsOnly" value="FALSE"/>
    <!--smtp host scdevel-->
    <add key="SmtpHost" value="scdevel"/>
    <!--default pub code for session logic sno is 10-->
    <add key="DefaultPubCode" value="14"/>
    <!--default year used on session logic if empty will revert to current year-->
    <add key="DefaultYear" value="3"/>
    <!--Ensures Events Cannot Be Accidentally Deleted .This is a failsafe-->
    <add key="NonDeletableEventIDS" value="1"/>
    <!--Review Status Identifier Used in N/S Review Logic-->
    <add key="OnSaleDateInReviewStatusCode" value="2"/>
    <!--CSV Prefix for Project Newstand Filename-->
    <add key="ProjectNewsStandCSVFilename" value="ProjectNewstandDates"/>
    <!--Xslx Prefix for xslx ProjectExcelReporting filename-->
    <add key="ProjectXslxFilename" value="ProjectExcelReport"/>
    <!--CSV Header for Project Newstand File=-->
    <add key="ProjectNewstandCsvColOneHeader" value="NEWSSTAND DATE"/>
    <add key="ProjectNewstandCsvColTwoHeader" value="PROJECT NAME"/>
    <!--CSV Prefix for Project Created Status Newsstand Filename-->
    <add key="ProjectsCreatedCSVFilename" value="CreatedProjects"/>
    <!--CSV Header for Projects Created File=-->
    <add key="ProjectsCreatedCsvColOneHeader" value="PROJECT NAME"/>
    <add key="ProjectsCreatedCsvColTwoHeader" value="CREATION DATE"/>
    <add key="ProjectsCreatedCsvColThreeHeader" value="TIME OF CREATION"/>
    <add key="ProjectsCreatedCsvColFourHeader" value="YEAR"/>
    <add key="ProjectsCreatedCsvColFiveHeader" value="PROFILE TYPE"/>
    <!--CsvExport Directory-->
    <add key="CsvExportDirectory" value="CsvExport"/>
    <!--XslxExport Directory-->
    <add key="XslxExportDirectory" value="XslxExport"/>
    <!--EventMethodNames-->
    <add key="EventMethodNewsStandDateApproval" value="OnNewsStandDateApproval"/>
    <add key="EventMethodNewsStandDateRejection" value="OnNewsStandDateRejection"/>
    <!--EmailSender-->
    <add key="EmailSender" value="prod-schedule-notifier@kalmbach.com"/>
    <!--If set to true on linking all nodes will attempt to be created-->
    <add key="LinkAndCalculate" value="true"/>
    <!--EmailTemplate Settings-->
    <add key="EmailTemplateDirectory" value="EmailTemplates"/>
    <add key="ProjectLockStatusTemplateFile" value="OnProjectLockStatusChangeTemplate.txt"/>
    <add key="ProjectStatusTemplateFile" value="OnProjectStatusChangeTemplate.txt"/>
    <!--Documentation Setttings-->
    <add key="DocumentationDirectory" value="Documentation"/>
    <add key="AppSettingsFile" value="appsettings.txt"/>
    <!--CleanUp Removes Files older than x days invoked after exported is generated.-->
    <add key="CsvFilesRemovalAge" value="10"/>
    <!--Exception Handling-->
    <add key="ExceptionEmailFrom" value="prod-schedule-application-error@kalmbach.com"/>
    <add key="ExceptionEmailTo" value="scurran@kalmbach.com"/>
    <add key="EmailExceptionFile" value="OnLineExceptionMailBody.txt"/>
    <add key="EmailExceptionSubject" value="Production Test Schedule Threw An Exception"/>
    <!--Verification-->
    <add key="ValidateBaselineOnProjectCreation" value="TRUE"/>
    <add key="SortSubItemsForReporting" value="TRUE"/>
    <!--Listed Projects Report Items per page-->
    <add key="ItemsPerPage" value="3"/>
    <add key="VaultInstance" value="LiveBranch_Version_5"/>
	<add key="NumSortItemsOnManagePublicationPage" value="6"/>
    <!--stop-->
  </appSettings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="~/error">
      <error statusCode="404" redirect="~/error/notfound"/>
    </customErrors>
    <httpRuntime/>
    <compilation debug="true" targetFramework="4.0"/>
    <!--windows set up start-->
    <authentication mode="Windows"/>
    <!--end-->
    <authorization>
      <deny users="?"/>
    </authorization>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/> 
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089"/>
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.3.0.0" newVersion="1.3.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>