@model Scheduling.Models.MilestoneTreeSettingsProfile
@{
    ViewBag.Title = "Add Report Footer Note";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";

}
<div class='container'>
    <div class='sixteen columns'>
        @{ Html.BeginForm("ProcessEditSingleMilestoneReportFooter", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }); }
        <input type='hidden' name='id' value='@Model.ID' />
        <p style='font-style:italic'>Add <span style='font-weight:bold'>@Model.Description</span> Report Footer Information</p>
        <!-- invoke ckeditor by having class-->
        <textarea rows='4' cols='50' name='note' id='note' class="ckeditor">
            @Model.ReportFooterNote
        </textarea>
        <div style="padding:10px 0px">
            
            <input type="submit" value='Update Note' />
            @{ Html.EndForm(); }
        </div>

    </div>

    
